body{
    margin: 0px;
    padding: 0px;
}

/* -----------Barra Navegacion---------- */
nav div{
    display: flex;
    justify-content: center;
    background-color: #ffffff !important;
    margin: 0px !important;
    padding: 0px 0px 10px 0px!important;
}
nav a{
    color: #097bab !important;
}
nav a:hover {
    color: #0fa3e3 !important;
}

.logo{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}
.logo img{
    width: 80px;
}

.nav{
    position: relative;
    left: 5%;
}

.menu div{
    display: flex;
    align-items: center;
    position: relative;
    left: 70%;
}

.nav , .search{
    margin: 0px !important;
    padding: 0px !important;
}

#search{
    color: #097bab;
    cursor: pointer;
}
#search:hover{
    color: #0fa3e3;
}

.menu i{
    font-size: 18px;
}

/* ---------------Contenido-------------- */
.contenido{
    display: flex;
    justify-content: space-between;
    margin-top: 40px !important;
}

.item-content div{
    overflow: hidden;
    width: 280px;
    height: 180px;
}

.item-content img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.8;
    object-fit: cover;
}

.item-content img:hover{
    transform: scale(1.2);
}

.contacto{
    margin-top: 60px !important;
}