body{
    background-color: black !important;
    margin: 0px;
    padding: 0px;
}

.logo{
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.logo img{
    width: 80px;
}

.menu{
    background-color: #fff !important;
    margin: 0px !important;
    padding: 0px 0px 10px 0px!important;
}

.nav , .search, .login{
    margin: 0px !important;
    padding: 0px !important;
}
.login{
    display: flex;
    justify-content: right;
}

.menu_lat{
    background-color: #fff !important;
}